<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professores da Fatec</title>
    <style>
        table#tabela1{
            border-collapse: collapse;
        }

        table#tabela1 th,
        table#tabela1 td{
            border: 1px solid black;
            padding: 5px;
        }

        table#tabela1 tr td{
            background-color: rgb(176, 212, 244);
        }
    </style>
</head>
<body>

    <table id="tabela1">
        <tr>
            <td>Nome</td>
            <td>Email</td>
        </tr>
    <% console.log('Quantidade de registros:' + profs.length); %>
    <% for(let i = 0; i< profs.length; i++){ %>
        <tr>
            <td><%=profs[i].nome_professor %></td>
            <td><%=profs[i].email_professor %></td>
        </tr>
    <% }%>
</table>
</body>
</html>