<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>HISTORIA</h1>
    <h2>Um cara chamado fatec criou uma escola que virou faculdade</h2>
</body>
</html>